@model TOUR.Models.PhanHoiLienHe

@using (Html.BeginForm("_CreatePhanHoiBlog", "Home",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                @Html.EditorFor(model => model.loiNhanKhachHang, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lời nhắn của bạn" } })
                @*<textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập tin nhắn'" placeholder=" Nhập tin nhắn"></textarea>*@
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.EditorFor(model => model.tenKhachHang, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên của bạn" } })
                @*<input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ tên của bạn'" placeholder="Họ tên của bạn">*@
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.EditorFor(model => model.emailKhachHang, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @*<input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" placeholder="Email">*@
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                @Html.EditorFor(model => model.sdtKhachHang, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                @*<input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số điện thoại'" placeholder="Số điện thoại">*@
            </div>
        </div>
        @*<input type="text" name="idBaiViet" value="@Model.idBaiViet" style="display:none;" />*@
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="button button-contactForm boxed-btn">Gửi</button>
    </div>
}

<div>
    @Html.ActionLink("Trở lại", "Blog")
</div>
