<nav>
    <ul id="navigation">
        <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li><a href="@Url.Action("TravelDestination", "Home")">Tour</a></li>
        <li><a href="@Url.Action("Blog", "Home")">Blog</a></li>
        <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
        <li><a href="@Url.Action("About", "Home")">About</a></li>   
    </ul>
</nav>
