@model IEnumerable<TOUR.Models.LienHe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin công ty</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên công ty
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Facebook
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenCty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChiCty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdtCty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailCty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facebookCty)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
